{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.htmldocs.com/v1/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "description": "Generate a new PDF document from a project template.",
        "requestBody": {
          "description": "Parameters to generate a document",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "The project ID (ex. 123e4567e89b12d3a456426655440000)",
                    "example": "123e4567e89b12d3a456426655440000"
                  },
                  "path": {
                    "type": "string",
                    "description": "The path to the .html file to render (ex. index.html)",
                    "example": "index.html"
                  },
                  "context": {
                    "type": "object",
                    "description":
                      "A dictionary that maps variables defined in the document to values to be substituted. \n For example, {{name}} will be replaced with the value of context['name']."
                  }
                },
                "required": ["projectId", "path", "context"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Document generation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The URL to the generated PDF document",
                  "example": "https://htmldocs.s3.amazonaws.com/path/to/result.pdf"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}